@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yesteryear&display=swap");

html {
  // background-color: #5f45bb;
  // background-image: linear-gradient(to bottom right, #180cac, #d054e4);
  // color: #fff;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  min-height: 100vh;
  min-width: 300px;
  overflow-x: hidden;
  // text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.content {
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: 2fr 25vw 1fr 25vw 2fr;
  grid-template-rows: 10% 800px auto;
  padding-bottom: 6rem;
  background-image: linear-gradient(
    to bottom,
    rgb(80, 12, 12),
    rgb(54, 54, 54)
  );
}

.header {
  grid-area: 1 / 1 / 2 / 6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: "Limelight", cursive;
  color: #eee;
}

.drink-card {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  flex-direction: column;
  // justify-content: space-around;
  align-items: center;
  gap: 3rem;
  background-color: #eee;
  border: 1px solid black;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 3px 3px 5px 6px rgb(36, 36, 36);
  img {
    border: 5px solid black;
    max-width: 300px;
    height: auto;
  }
}

.movie-card {
  grid-area: 2 / 4 / 3 / 5;
  display: flex;
  flex-direction: column;
  // justify-content: space-around;
  align-items: center;
  gap: 3rem;
  background-color: #eee;
  border: 1px solid black;
  border-radius: 8px;
  padding: 2rem;
  overflow: auto;
  box-shadow: 3px 3px 5px 6px rgb(36, 36, 36);
  img {
    border: 5px solid black;
  }
  .movie-info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    line-height: 1.5;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  // font-family: 'Yesteryear', cursive;
  color: #eee;
  p {
    text-align: center;
  }
}

.bold-text {
  font-weight: bold;
}

h2 {
  font-size: 24px;
}

.drink-img-wrapper {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdown {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: inline-block;
  #saved-tems-btn {
      background-color: rgb(80, 12, 12);
      border: none;
      border-radius: 2px;
      padding: 1rem;
      color: #fff;
      font-family: 'Yesteryear', cursive;
      font-size: 1.5rem;
  }
}
.dropdown-content {
  display: none;
  position: absolute;
  border-radius: 4px;
  background-color: #eee;
  color: black;
  font-size: 16px;
  min-width: 350px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  p {
    font-family: Arial, Helvetica, sans-serif;
  }
}
.dropdown:hover .dropdown-content {
  display: block;
}

.save-btn {
    border: none;
    font-size: 1.5rem;
    border-radius: 2px;
    position: relative;
    bottom: -.15em;
    &:hover {
        cursor: pointer;
    }
    &:active {
        background-color: #ddd;
    }
    &:focus {
        outline: none;
    }
}

// .genres, .base {
//     font-family: 'Yesteryear', cursive;
// }
hr {
    background-color: black;
    border: none;
}

// .drink-info-wrapper {
//     margin-top: 25%;
// }

.clear-btn {
    margin-top: .5rem;
}

@media screen and (max-width: 1050px) {
  .content {
    grid-template-columns: 2fr 35vw 1fr 35vw 2fr;
  }
  .drink-card img {
    max-width: 200px;
    height: auto;
  }
}

@media screen and (max-width: 800px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
  }
  .header {
    display: flex;
    flex-direction: column;
  }
  // .drink-card {
  //   margin-top: 3rem;
  // }
  header h1 {
    margin-top: 4rem;
  }
  .movie-card {
    margin-bottom: 3rem;
  }
}